<ul class="nav">
  <li class="nav-item">
  <!---->  <a class="nav-link active" aria-current="page">Dishan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/" routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile" routerLink="/profile" >profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aboutus" >About</a>
  </li>
  <li>
   
      <mat-toolbar-row >
              <span class="example-spacer"></span>
             <button routerLink='login' class="mar-but" mat-stroked-button>Login</button>
              <button mat-stroked-button routerLink="/register">Register</button>
        </mat-toolbar-row>
     
  </li>
  
</ul>
<ul>
  
</ul>

<router-outlet><router-outlet />
  
